<!DOCTYPE html>
<html lang="en">
  <head>
      
 

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/library_preparation_script.js" defer></script>
    <title>Data Entry form</title>

    
  </head>
  <body>
    

  
 
<script>
  
</script>



<!--
<style>
  .form-step:not(:first-child) {
  display: none;
}
</style>
-->







    <form action="/library_preparation/{{data1.Barcode}}" method="post" class="form" id="form" enctype="multipart/form-data">
      <h1 class="text-center">Data submission process</h1>
      <!-- Progress bar -->
      <div class="progressbar">
        
        <div class="progress" id="progress"></div>
        
        <div
          class="progress-step progress-step-active"
          data-title="Barcode Generation"
        ></div>
        <div class="progress-step" data-title="Sample Collection"></div>
        <div class="progress-step" data-title="DNA Extraction"></div>
        <div class="progress-step" data-title="Library Preparation"></div>
        <div class="progress-step" data-title="Taxonomy & Function"></div>
      </div>

      <!-- Steps -->
      
        <div class="form-step form-step-active">
          
            <div class="input-group">
              
              <label for="Barcode" id="Barcode"><b>Barcode:</b> {{data1.Barcode}}</label>
              
            
            </div>
            <div class="">
              <a href="#" type="Next" value="Next" id="next1" class="btn btn-next width-50 ml-auto"  >Next</a>
            </div>
     
      </div>
      <div class="form-step">
        <center><div id="id_a1" style="color:blue;font-family: verdana;
          font-size: 200%;" ></div></center>
            <script></script>
            <div class="input-group">
                  
              
              <label for="Initial_weight"><b>Initial_weight:</b>{{data2.Initial_weight}}</label>
              <label for="Location"><b>Location:</b>{{data2.Location}}</label>
              <label for="Collection_date"><b>Collection_date:</b>{{data2.Collection_date}}</label>
              <label for="Remarks"><b>Remarks:</b>{{data2.Remarks}}</label>
              
              
              </div>
              
            <div class="btns-group">
              <a href="#" class="btn btn-prev">Previous</a>
              <a href="#" class="btn btn-next"  id="next2">Next</a>
            </div>
          </div>
      <div class="form-step">
        <center><div id="id_a2" style="color:blue;font-family: verdana;
          font-size: 200%;" ></div></center>
        <div class="input-group">
                
          <label for="Kit_name"><b>Kit Name: </b>{{data3.Kit_name}}</label>
          
          <label for="Lot_no"><b>Lot no.:</b>{{data3.Lot_no}}</label>
          
          <label for="Quantity"><b>Quantity:</b>{{data3.Quantity}}</label>
          
          <!--
          <label for="Gel_image">Gel_image</label>
          <input type="file" accept=".jpg" name="Gel_image" id="Gel_image" />
          -->
          <label for="Qubit_conc"><b>Qubit conc.:</b>{{data3.Qubit_conc}}</label>
          <label for="Nanodrop_conc"><b>Nanodrop conc.:</b>{{data3.Nanodrop_conc}}</label>
          <label for="Nanodrop_260_280"><b>Nanodrop 260/280:</b> {{data3.Nanodrop_260_280}}</label>
          <label for="Nanodrop_260_230"><b>Nanodrop 260/230:</b> {{data3.Nanodrop_260_230}}</label>
          <label for="Extraction_date"><b>Extraction Date:</b> {{data3.Extraction_date}}</label>
          <label for="Repeat_no"><b>Repeat no.:</b> {{data3.Repeat_no}}</label>
          <label for="Remarks"><b>Remarks:</b>{{data3.Remarks}}</label>
          
        </div>
        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
          <a href="#" class="btn btn-next" id="next3">Next</a>
        </div>
        </div>
        <div class="form-step">
          <center><div id="id_a3" style="color:blue;font-family: verdana;
            font-size: 200%;" ></div></center>
          <div class="input-group">
          <div style="position: absolute; right: 80px;top: 20px;" id="exit4"><a href="/templates/touch.html"><h1>Exit?</h1></a></div>
                
            <label for="Run_ID">Run ID</label>
            <input type="text" name="Run_ID" id="Run_ID" />
            <label for="Extraction_Startdate">Extraction Startdate</label>
            <input type="date" name="Extraction_Startdate" id="Extraction_Startdate" value="{{data4.Extraction_Startdate}}" />
            <label for="Extraction_enddate">Extraction enddate</label>
            <input type="date" name="Extraction_enddate" id="Extraction_enddate" value="{{data4.Extraction_enddate}}"/>
            <label for="Yield_nanodrop">Yield nanodrop</label>
            <input type="text" name="Yield_nanodrop" id="Yield_nanodrop" value="{{data4.Yield_nanodrop}}"/>
            <label for="Yield_qubit">Yield qubit</label>
            <input type="text" name="Yield_qubit" id="Yield_qubit" value="{{data4.Yield_qubit}}" />
            <!--
            <label for="Gel_image">Gel_image</label>
            <input type="file" accept=".jpg" name="Gel_image" id="Gel_image" />
            -->
            <label for="Library_startdate">Library startdate</label>
            <input type="date" name="Library_startdate" id="Library_startdate" value="{{data4.Library_startdate}}" />
            <label for="Library_enddate">Library enddate</label>
            <input type="date" name="Library_enddate" id="Library_enddate" value="{{data4.Library_enddate}}"/>
            <label for="Flowcell_id">Flowcell id</label>
            <input type="text" name="Flowcell_id" id="Flowcell_id" value="{{data4.Flowcell_id}}"/>
            <label for="Native_barcode">Native barcode</label>
            <input type="text" name="Native_barcode" id="Native_barcode" value="{{data4.Native_barcode}}"/>
            <label for="Active_pores">Active pores</label>
            <input type="text" name="Active_pores" id="Active_pores" value="{{data4.Active_pores}}"/>
            <label for="Pores_remaining">Pores remaining</label>
            <input type="text" name="Pores_remaining" id="Pores_remaining" value="{{data4.Pores_remaining}}" />
            <label for="Loading_start">Loading start</label>
            <input type="date" name="Loading_start" id="Loading_start" value="{{data4.Loading_start}}" />
            <label for="Loading_end">Loading end</label>
            <input type="date" name="Loading_end" id="Loading_end" value="{{data4.Loading_end}}"/>
            <label for="Sequencing_status">Sequencing status</label>
            <input type="text" name="Sequencing_status" id="Sequencing_status" value="{{data4.Sequencing_status}}"/>
            <label for="Sequencing_duration">Sequencing duration</label>
            <input type="time" name="Sequencing_duration" id="Sequencing_duration" value="{{data4.Sequencing_duration}}" />
            <label for="Status">Status</label>
            <input type="text" name="Status" id="Status" value="{{data4.Status}}" />
            
          </div>

          <div class="btns-group">
            <a href="#" class="btn btn-prev">Previous</a>
            <a href="#" class="btn btn-next" id="next4">Next</a>
          </div>
      </div>

      <div class="form-step">
        <center><div id="id_a4" style="color:blue;font-family: verdana;
          font-size: 200%;" ></div></center>
        <div class="input-group">
          
          <center><h1>Upload your .zip file/folder</h1></center>
         
      <p><input type="file" id="upload_file" name="file" accept=".zip" ></p>
          
          
        </div>

      <div class="btns-group">
        <a href="#" class="btn btn-prev">Previous</a>
        <button  type="submit" id="button" value="Submit" class="btn" >Submit</button>
      </div>
    </div>
    </form>
	
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
      
        array4=[]; //empty array 
        window.onload = function() {
      document.getElementById("Run_ID").focus();
      
      
    };
    
        $('#next1').click(function(e){
      e.preventDefault();
      
      
      
      $.ajax({
          type:"POST",
          url:"/barcode_edit",
          data:{
              Barcode:$("#Barcode").val(),
              
              
            
              
              
          },
          success:function(result){
              //alert(result);
              console.log("Barcode: "+result);
              document.getElementById("id_a1").innerHTML = result;
             
              
              
          }
  
      });
                  
  });
 
  
      </script>
    <!--
    <script src="/static/form1.js"></script>
    <script src="/static/form2.js"></script>
    
    
    
    
    <script src="/static/form3.js"></script>
        -->
        <script src="/static/form4.js"></script>
        <script src="/static/upload.js"></script>
  </body>
</html>